<%# dom_id(ip) -> "ip_42": gives each row a stable id that Turbo Streams
    and broadcasts will target in later steps. %>
<tr id="<%= dom_id(ip) %>">
  <td class="mono"><%= ip.ip_address %></td>
  <td>
    <span class="badge <%= ip.enabled ? "on" : "off" %>">
      <%= ip.enabled ? "enabled" : "disabled" %>
    </span>
  </td>
  <td>
    <% if ip.enabled %>
      <%= button_to "Disable", disable_ip_path(ip), class: "btn" %>
    <% else %>
      <%= button_to "Enable", enable_ip_path(ip), class: "btn primary" %>
    <% end %>
  </td>
  <td class="actions">
    <%= link_to "Stats", stats_ip_path(ip) %>
    <%= link_to "Edit", edit_ip_path(ip) %>
    <%= button_to "Delete", ip_path(ip), method: :delete, class: "btn danger",
          form: { data: { turbo_confirm: "Remove #{ip.ip_address}?" } } %>
  </td>
</tr>
